---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About — dpaul256" description="About me">
  <article class="card">
    <h1 style="margin-top:0;">About</h1>
    <p>
      Write your bio here. Add links to GitHub, LinkedIn, projects, etc.
    </p>

    <h2>Links</h2>
    <ul>
      <li><a href="https://github.com/dpaul256" target="_blank" rel="noreferrer">GitHub</a></li>
      <li><a href="https://mail.google.com/mail/?view=cm&fs=1&to=jone921216@gmail.com" target="_blank" rel="noreferrer">
        Email</a></li>
      <li><a href="https://www.linkedin.com/in/%E5%B8%9B%E5%8B%B3-%E9%8D%BE-09163a3b3/" target="_blank" rel="noreferrer">
        LinkedIn</a></li>
      <li><a href="https://www.instagram.com/zhong5400/" target="_blank" rel="noreferrer">Instagram</a></li>
      <li><a href="https://codeforces.com/profile/guitarguy?graphType=rated" target="_blank" rel="noreferrer">Codeforces</a></li>
      <li><a href="https://leetcode.com/u/coderPaul/" target="_blank" rel="noreferrer">LeetCode</a></li>
    </ul>
  </article>
</BaseLayout>